.photo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;
    height: 40px;
    width: 172px;
    border: none;
    background: #FF2849;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 42vw;
    margin-top: 3%;
    position: relative;
  }
  
  .lable {
    line-height: 22px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .photo-button:hover {
    background: #e52441;
  }
  
  .photo-button:hover .svg-icon {
    animation: flickering 2s linear infinite;
  }
  
  @keyframes flickering {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    52% {
      opacity: 1;
    }
  
    54% {
      opacity: 0;
    }
  
    56% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    92% {
      opacity: 0;
    }
  
    94% {
      opacity: 1;
    }
  
    96% {
      opacity: 0;
    }
  
    98% {
      opacity: 1;
    }
  
    99% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }


/* Profile Button Animation */
.profile-button-wrapper {
  position: relative; 
  display: inline-block;
}

.profile-button {
  animation: moveUpDown 4s infinite ease-in-out;
  position: relative;
  z-index: 10;
  background-color: #ccd6e1;
  border: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(196, 42, 34, 0.5);
}

.profile-button:hover {
  background-color: #ccd6e1;
  transform: scale(1.1);
  cursor: pointer;
}

.btn {
  position: relative; 
  border: none;  
  cursor: pointer; 
}

.btn:focus {
  outline: none; 
}

/* Glow effect */
.profile-button-wrapper::before {
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: 44%; 
  width: 110%; 
  height: 125%; 
  background-color: rgba(0, 123, 255, 0.5); 
  border-radius: 50%;
  transform: translate(-50%, -50%); 
  opacity: 0;
  animation: glow 4s infinite ease-in-out; 
  z-index: 0; 
}

@keyframes glow {
  0% {
    opacity: 0; 
    transform: translate(-50%, -50%) scale(0) translateY(0); 
  }
  50% {
    opacity: 0.1; 
    transform: translate(-50%, -50%) scale(1); 
  }
  100% {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(0); 
  }
}


@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(2);
  }
  50% {
    transform: translateY(-3px);
  }
}




/* Home page animations */
.bubble {
  position: absolute;
  background-color: rgba(7, 125, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: bounce 6s infinite;
  opacity: 0.4; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.bubble1 {
  left: 5%;
  bottom: 50%;
  animation-delay: 0s;
  background: linear-gradient(to bottom right, blue, red, white);
}

.bubble2 {
  left: 40%;
  animation-delay: 1s;
}

.bubble3 {
  left: 70%;
  animation-delay: 2s;
}


@keyframes bounce {
  0%, 100% {
     transform: translateY(0);
  }
  50% {
     transform: translateY(-30px);
  }

}


/* @keyframes glow {
  from {
     box-shadow: 0 0 20px rgba(87, 148, 228, 0.5);
  }
  to {
     box-shadow: 0 0 40px rgba(234, 216, 157, 0.4);
  }
} */


.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  position: relative;
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  left: 90%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

@keyframes spin{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform:rotate(360deg) ;
  }
}